.new-metting-button {
    background-color: #4c32a8;
    height: 40px;
    width: 130px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 500;
    border-radius: 8px;
    padding: 5px;
    border: none;
    font-size: 20px;
    margin-right: 50px;
}

.new-button-container {
    align-self: flex-end;
}

.meetings-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.mettings-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0px;

}